html {
    height: 100%;
}
body {
    height: 100%;
    overflow: hidden;
}

/* Estilo del jumbotron (pagina principal) */
div.jumbotron-main {
    height: 100%;
    background: url("../img/schedule.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
}

div.jumbotron-main > div.wrapper {
    background-color: transparent;
    background-image: url("../img/white-op60.png");
    background-repeat: repeat;
    /* https://css-tricks.com/transparency-in-web-design/ */
    background: hsla(0,0,0,0.5);  /* 50% transparent */
    height: 100%;
}


div.jumbotron-main > div.wrapper > div.container {
    position: relative;
    top: 10%;
}

/* http://stackoverflow.com/questions/787839/resize-image-proportionally-with-css */
div.jumbotron-main > div.wrapper > div.container div.row > div.col-md-6 > img {
    /*Notice that width:50% will resize it to 50% of the available space
    for the image, while max-width:50% will resize the image to 50% of its 
    natural size. This is very important to take into account when using this
    rules for mobile web design, so for mobile web design max-width 
    should always be used.*/
    max-width: 80%; 
    height: auto;
    width: 90%;
    display: inline-block;
}


div.jumbotron-main h1,
div.jumbotron-main h2,
div.jumbotron-main p
{
    text-align: left;
    color: #000;
}


