html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}

body > .container {
    padding: 60px 15px 30px; 
}
.container .text-muted {
    margin: 20px 0;
}
.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
code {
    font-size: 80%;
}

div#new-event-form-div {
    margin-bottom: 11px;
}

/* 
Articulos que ayudaron:
http://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height
http://www.barelyfitz.com/screencast/html-training/css/positioning/
http://alistapart.com/article/css-positioning-101
http://stackoverflow.com/questions/5323177/absolute-vs-relative-position-width-height
http://stackoverflow.com/questions/3049783/how-to-make-a-floated-div-100-height-of-its-parent?lq=1
*/

/*
Hace que el div con clase "row", se comporte como una tabla al mostrarse.
Esto implica que el div "row" será tan alto como lo sea su div hijo más alto
(y que forme parte del flujo de la pagina)
*/

.row {
    display: table;
}

/*
Hace que los divs hijos (las filas del layout de bootstrap) se comporten 
como celdas de tabla, se expanden para ocupar todo el espacio disponible
*/

.row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

/*
Con posicionamiento relativo, el div sigue formando parte del flujo del 
documento, sin embargo la altura que toma "su sombra" (lo que esta aún en el layout)
es la misma que la del calendario por las dos reglas que definí arriba

Como consecuencia, la columna más alta es la del calendario, y la que 
fijará el resto del alto de la página
*/

div#ticker.col-md-3.list-group {
    position:relative;
}

/*
Posiciono el listado de eventos "relativo" al ticker y hago que obtenga 
un alto (height) calculado respecto del padre (el ticker), el cual es obtenido
del calendario.
*/

div#eventList {
    position:absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}

